.mdui-container {
    position: flex;
}
#imgs-card {
    margin-top: 7vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
}
#imgs-card .mdui-card-content {
    margin-top: 2vh;
}
#output-card {
    margin-top: 7vh;
    padding: 2vh;
    padding-top: 0;
    display: none;
}

.mdui-btn-icon {
    margin-right: 0.7em;
}

.mdui-list-item-one-line {
    /*修复换行溢出*/
    height: revert;
}
