.mdui-container {
    position: flex;
}
#imgs-card {
    margin-top: 3vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
}
#imgs-card .mdui-card-content {
    margin-top: 2vh;
}
  /*扫描进度条*/
#users-imgs-progress .mdui-progress-determinate {
    display: none;
}
#user-imgs-row > img {
    background-image: url(/img/loading.gif); /* 占位图 */
}
#generator-messages-list .mdui-list-item {
    /*去除鼠标悬浮时背景压暗*/
    background: transparent !important;
}
.mdui-list-item-avatar img {
    height: 80%;
    width: 80%;
    margin: 10%
}

#scan-imgs-bt {
    margin-top: 1vh;
}



#generator-card {
    margin-top: 3vh;
    padding: 2vh;
    padding-top: 0;
    /*display: none;*/
}

#generator-prompt-box {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 0;
}

.mdui-btn-icon {
    margin-right: 0.7em;
}

.mdui-list-item-one-line {
    /*修复换行溢出*/
    height: revert;
}

[template] {
    display: none;
}